[submodule "ServerConfigCM"]
	path = ServerConfigCM
	url = https://github.com/Coriv/ServerConfigCM
[submodule "PropertiesCM"]
	path = PropertiesCM
	url = https://github.com/Coriv/PropertiesCM
[submodule "ServerDiscoveryCM"]
	path = ServerDiscoveryCM
	url = https://github.com/Coriv/ServerDiscoveryCM
[submodule "GatewayCM"]
	path = GatewayCM
	url = https://github.com/Coriv/GatewayCM
[submodule "UserService"]
	path = UserService
	url = https://github.com/Coriv/UserService
[submodule "EmailService"]
	path = EmailService
	url = https://github.com/Coriv/EmailService
[submodule "AuthService"]
    path = AuthService
    url = https://github.com/Coriv/AuthService


[submodule "WalletCrypto"]
	path = WalletCrypto
	url = https://github.com/Coriv/WalletCrypto
[submodule "Trade"]
	path = Trade
	url = https://github.com/Coriv/Trade
